<div style="height: 100vh;display: flex;flex-direction: column;">

    <div class="toolbar" role="banner">
        <!-- <img
          width="40"
          alt="Angular Logo"
          src="data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHZpZXdCb3g9IjAgMCAyNTAgMjUwIj4KICAgIDxwYXRoIGZpbGw9IiNERDAwMzEiIGQ9Ik0xMjUgMzBMMzEuOSA2My4ybDE0LjIgMTIzLjFMMTI1IDIzMGw3OC45LTQzLjcgMTQuMi0xMjMuMXoiIC8+CiAgICA8cGF0aCBmaWxsPSIjQzMwMDJGIiBkPSJNMTI1IDMwdjIyLjItLjFWMjMwbDc4LjktNDMuNyAxNC4yLTEyMy4xTDEyNSAzMHoiIC8+CiAgICA8cGF0aCAgZmlsbD0iI0ZGRkZGRiIgZD0iTTEyNSA1Mi4xTDY2LjggMTgyLjZoMjEuN2wxMS43LTI5LjJoNDkuNGwxMS43IDI5LjJIMTgzTDEyNSA1Mi4xem0xNyA4My4zaC0zNGwxNy00MC45IDE3IDQwLjl6IiAvPgogIDwvc3ZnPg=="
        /> -->
       <a href="/"> <h4 class="mx-5">DiffDazzle</h4></a>
          <div class="spacer"></div>
      
            <img src="assets/NextLogo-11@2x-1.png" height="100%"/>
          <!-- <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
           
          </a> -->
      </div>

    <div class="col-5 m-auto" style="background: #eceff1;
    height: 50vh;
    display: flex;
    align-items: center;
    flex-direction: column;justify-content: center;max-width: 500px;">
        <div style="width: 80%;">
            <form [formGroup]="form">
                <div class="form-group">
                    <label for="username" class="mb-2">User Name</label>
                    <input type="text"  formControlName="username" class="form-control" id="username" placeholder="">
                  </div>
                
                  <div class="form-group mt-3">
                    <label for="password" class="mb-2">Password</label>
                    <input type="password"  formControlName="password" class="form-control" id="password" placeholder="">
                  </div>
              
                  <button class="btn btn-primary mt-5 col-12" [disabled]="!form.valid" (click)="onSubmit(form)">LOGIN</button>
            </form> 
        </div>
    </div>
</div>

