<div class="toolbar" role="banner">
  <img *ngIf="showCompage"
    width="20px" class="ml-4"
    src="/assets/left-chevron.png"
    (click)="goBack()"
  />
  <a href="/" *ngIf="!showCompage"> <h4 class="mx-5">DiffDazzle</h4></a>
    <div class="spacer"></div>

    <button class="btn btn-primary mx-3" *ngIf="response?.bert_cosine_similarity && showCompage && !showFileMatchScore" (click)="showFileMatchScore = true">Check Score</button>

    <h6 class="mx-5" *ngIf="response?.bert_cosine_similarity && showCompage && showFileMatchScore">File Match Score : {{(response?.bert_cosine_similarity * 100).toFixed(2)}} % </h6>
    <!-- <a aria-label="Angular on twitter" target="_blank" rel="noopener" href="https://twitter.com/angular" title="Twitter">
     
    </a> -->
    <!-- <a aria-label="Angular on YouTube" target="_blank" rel="noopener" href="https://youtube.com/angular" title="YouTube">
     
    </a> -->
</div>

<div class="row mx-0"  style="height: calc(100vh - 90px)" *ngIf="showCompage">
  <div class="col-10 offset-2 row file_name_position">
    <div class="col-6 text-center">{{file1Name}}</div>
    <div class="col-6 text-center">{{file2Name}}</div>
  </div>
  <div class="col-2 change_list" style="height: calc(100vh - 90px);
  overflow: auto;">
  <h5>Changes List</h5>
  <hr>
  <div *ngFor="let data of changeList;let i index" [ngClass]="{'selectedIndex':selectedIndex == i}" style="cursor: pointer;" (click)="highlightText(data);selectedIndex = i">
      <div><b>Line :</b> {{data.Line}}</div>
      <div><b>Page :</b>  {{data.Page}}</div>
      <div><b>Position :</b>  {{data.Position}}</div>
      <div><b>Word :</b>  {{data.Word}}</div>
      <div><b>Line Content :</b>  {{data.line_content}}</div>
      <hr>
  </div>
    <!-- <div [innerHTML]="formateResponse(response?.comparison_output?.content)"></div> -->
  </div>
  <div class="col-10 row mx-0 px-0" style="height: calc(100vh - 90px);
  overflow: auto;">
    <div class="col-6 file_content_container">
    <!-- File 1 -->
    <div  [innerHTML]="safeHtml(formateResponse(response?.pdf_text))" id="pdfText" ></div>
    </div>
    <div class="col-6 file_content_container">
      <!-- File 2 -->
      <div [innerHTML]="formateResponse(response?.html_text)"></div>
    </div>
  </div>
</div>

<div class="row mx-0" *ngIf="!showCompage">

  <div class="col-6 mx-auto my-5">
   
      <div class="form-group" style="position: relative;">
        <label for="file1" class="mb-2">File 1</label>
        <input type="file" class="form-control" id="file1" placeholder=""  accept=".pdf,.ppt,.pptx,.xls,.xlsx" (change)="onFile1Selected($event)">
        <img [src]="fileIcon" class="field_icon" *ngIf="fileIcon" />
      </div>
    
      <div class="form-group mt-3" style="position: relative;">
        <label for="file2" class="mb-2">HTML File</label>
        <input type="file" class="form-control" id="file2" placeholder=""(change)="onFile2Selected($event)"  accept=".html,.htm">
        <img src="/assets/html.png" class="field_icon" />
      </div>

      <button class="btn btn-primary mt-3" (click)="getData()" [disabled]="file1 == null || file2 == null">Compare</button>

  </div>
</div>

<div class="spinner-border" role="status" *ngIf="showLoader" style="    position: fixed;
left: 0;
right: 0;
margin: auto;">
</div>

<footer class="px-4 py-2" style="height: 30px;position: fixed;bottom: 0px;background-color: #28104E;width: 100%;color: #fff;">
 <div class="row" style="width: 100%;">
  <div class="col-12 text-center">
    © 2023 TVS Next. All Rights Reserved.
  </div>
  <!-- <div class="col-6">
  </div> -->
 </div>
</footer>

